@model BusCompanies
<div class="shadow-sm w-full p-2 rounded-lg mt-4 border-t-6 border-teal-600">
    <!--Header-->
    <div class="p-2 flex flex-col sm:flex-row">
        <div class="flex flex-1 content-center">
            <h3 class="text-teal-600 font-mona font-bold p-2"> @(Model?.BusCompanyId ==null ? "Register new bus" : "Update bus company")</h3>
        </div>
        <div class="flex flex-1 justify-center sm:justify-end">
            <a class="bg-white font-mona border p-2 rounded-lg border-gray-200 text-teal-600 font-bold"
               asp-controller="BusCompany" asp-action="Index">Back</a>
        </div>
    </div>

    <!--Divider-->
    <div class="border-b border-gray-200 w-full"></div>

    <!--Body-->
    <form method="post">
        <div class="flex flex-col sm:flex-row gap-4 p-4">

            <input asp-for="BusCompanyId" hidden />
            <!--First Column-->
            <div class="flex flex-col flex-1 gap-4">
                <!-- Company Name -->
                <div class="flex flex-col gap-1">
                    <label asp-for="CompanyName" class="text-sm font-semibold text-gray-600 font-mona"> Company Name <span class="text-red-500">*</span></label>
                    <input asp-for="CompanyName" placeholder="e.g. Company Inc"
                           class="border border-gray-200 rounded-lg p-2 text-sm font-mona focus:outline-none focus:ring-2 focus:ring-teal-400" maxlength="20" />
                    <span asp-validation-for="CompanyName" class="text-red-500 text-xs"></span>
                </div>

                <!-- Email -->
                <div class="flex flex-col gap-1">
                    <label asp-for="Email" class="text-sm font-semibold text-gray-600 font-mona">Email <span class="text-red-500">*</span></label>
                    <input asp-for="Email" type="email" placeholder="e.g. user@gmail.com"
                           class="border border-gray-200 rounded-lg p-2 text-sm font-mona focus:outline-none focus:ring-2 focus:ring-teal-400" maxlength="50" />
                    <span asp-validation-for="Email" class="text-red-500 text-xs"></span>
                </div>


            </div>

            <!--Second Column-->
            <div class="flex flex-col flex-1 gap-4">
                <!-- Contact Number -->
                <div class="flex flex-col gap-1">
                    <label asp-for="ContactNumber" class="text-sm font-semibold text-gray-600 font-mona">Contact Number <span class="text-red-500">*</span></label>
                    <input asp-for="ContactNumber" placeholder="e.g. 09000000000"
                           class="border border-gray-200 rounded-lg p-2 text-sm font-mona focus:outline-none focus:ring-2 focus:ring-teal-400" maxlength="11" />
                    <span asp-validation-for="ContactNumber" class="text-red-500 text-xs"></span>
                </div>

                <!-- Address -->
                <div class="flex flex-col gap-1">
                    <label asp-for="Address" class="text-sm font-semibold text-gray-600 font-mona">Address <span class="text-red-500">*</span></label>
                    <input asp-for="Address" placeholder="e.g. Manila, Philppines"
                           class="border border-gray-200 rounded-lg p-2 text-sm font-mona focus:outline-none focus:ring-2 focus:ring-teal-400" maxlength="100" />
                    <span asp-validation-for="Address" class="text-red-500 text-xs"></span>
                </div>
                
                
            </div>
        </div>

        <!--Divider-->
      
        <div class="border-b border-gray-200 w-full">  </div>

        <!--Footer / Actions-->
        <div class="flex justify-end gap-2 p-4">
            <a asp-controller="Bus" asp-action="Index"
                   class="border border-gray-200 text-gray-600 font-mona font-semibold text-sm px-4 py-2 rounded-lg hover:bg-gray-50">
                Cancel
            </a>
           
            <button type="submit" class="bg-teal-600 text-white font-mona font-semibold text-sm px-4 py-2 rounded-lg hover:bg-teal-700">
                @(string.IsNullOrEmpty(Model?.BusCompanyId) ? "Create" : "Update")
            </button>
              
              

        </div>
    </form>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            @if (TempData["error"] != null && string.IsNullOrEmpty(Model?.BusCompanyId))
                {
                    <text>
                        document.querySelectorAll("input, select, textarea").forEach(el => {
                            el.value = "";
                        });
                    </text>
                 }
                });

     
    </script>
}